<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/047eaf09-ce73-46ab-b1e4-c6b0c7f76a7a/resourcegroups/INVERBAN/providers/Microsoft.ContainerRegistry/registries/InverbanHNShared20260802122545</ResourceId>
    <ResourceName>InverbanHNShared20260802122545</ResourceName>
    <ResourceGroup>INVERBAN</ResourceGroup>
    <Subscription>Suscripción de Azure 1</Subscription>
    <RegistryUrl>inverbanhnshared20260802122545.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>